.ReactModal__Content--after-open{
    width: 606px;
    height: 530px;
    margin: auto;
    display: flex;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.09);
}
.ReactModal__Overlay--after-open{
    position: fixed;
    inset: 0;
    background-color: hsla(0,0%,98%,.85);
}
element.style{
    padding: 0;
}
.Login{
    width: 100%;
    display: flex;
}
.Login .left_col{
    width: 216px;
    background-color: #f8f9fa;
    /* padding: 24px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Login .left_col svg{
    width: 168;
    height: 108;
}
.Login .left_col .text_welcome{
    font-size: 28px;
    margin-top: 24px;
    color: #495057;
    text-align: center;
    font-weight: 600;
}

.Login .right_col{
    flex: 1 1;
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.Login .right_col .btn_close{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #868e96;
    margin-bottom: 36px;
}
.Login .right_col svg{
    cursor: pointer;
    outline: none;
}
.Login .container{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.Login .upper_wrapper h2{
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 21px;
}
.Login .upper_wrapper h4{
    font-size: 16.2px;
    margin: 18px 0 18px 0;
    color: #868e96;
}
.Login .upper_wrapper .authEmailForm{
    width: 100%;
    display: flex;
    height: 3rem;
}
.Login .upper_wrapper .authEmailForm.true{
    height: 6rem;
}
.Login .authEmailForm .inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.Login .authEmailForm.true .inputs .line{
    position: absolute;
    top: 50%;
    background: #dee2e6;
    width: 100%;
    height: 1px;
    z-index: 0;
}

.Login .authEmailForm input{
    flex: 1 1;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 1rem;
    font-size: 1rem;
    background-color: #fff;
    color: #212529;
    border: 1px solid #dee2e6;
    border-right: none;
    outline: none;
    height: 1%;
}
.Login .authEmailForm.true input{
    border-top: none;
}
.Login .authEmailForm.true input:first-child{
    border-top: 1px solid #dee2e6;
    border-bottom: none;
}
.Login .authEmailForm input:focus{
    border: 1px solid #12b886;
    border-right: none;
    z-index: 2;
}
.Login .authEmailForm.true input:first-child:focus{
    border: 1px solid #12b886;
    border-right: none;
    z-index: 2;
}
.Login .authEmailForm .btn_login{
    background-color: #12b886;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 8rem;
    word-break: keep-all;
    cursor: pointer;
}
.Login .authEmailSuccess{
    display: flex;
    align-items: center;
    background-color: #c3fae8;
    border: 1px solid #96f2d7;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 3rem;
    color: #087f5b;
    white-space: pre;
}
.Login .authEmailSuccess svg{
    font-size: 1.5rem;
}
.Login .authEmailSuccess span{
    font-size: .875rem;
    flex: 1 1;
    text-align: center;
}
.Login .upper_wrapper .social_login{
    margin-top: 2.5rem;
}
.Login .social_login .buttons{
    display: flex;
    justify-content: space-around;
    margin-top: calc(1.5rem + 2px);
}
.Login .buttons button{
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.Login .buttons .btn_git{
    background-color: rgb(39, 46, 51);
}
.Login .buttons .btn_google{
    background-color: white;
    border: 1px solid #dee2e6;
}
.Login .buttons .btn_facebook{
    background-color: rgb(59, 89, 152);
}
.Login .container .go_signup{
text-align: right;
color: #12b886;
position: absolute;
bottom: 0;
right: 0;
}
.Login .go_signup span{
    margin-right: 0.25rem;
}
.Login .go_signup .btn_signup{    
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: #12b886;
    border: none;
    background-color: transparent;
}
@media screen and (max-width: 768px) {
    .Login{
        flex: 1 1 0%;
        width: auto;
        height: 100%;
    }
    .Login .left_col{
        display: none;
    }
    .Login .right_col{
        overflow-y: auto;
    }
    .ReactModal__Content--after-open{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
    }
}