.Main{
    background-color: #f8f9fa;
    width: 100%;
    min-height: 100vh;
} 
.Main .container{
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    width: 1728px;
    height: 100%;
    flex-flow: column nowrap;
    margin: 0 auto;
}
/*home tab*/
.Main .homeTab_wrapper{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Main .homeTab_left{
    display: flex;
    align-items: center;
    position: relative;
    height: 3rem;
    user-select: none;
}
.Main .homeTab_block{
    width: 14rem;
    height: 100%;
    display: flex;
    position: relative;
}
.Main .homeTab_button {
    cursor: pointer;
    font-size: 1.125rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #868e96;
}
.Main .homeTab_block .true{
    padding-top: 2px;
    color: #212529;
    font-weight: 700;
    border-bottom: 2px solid #212529;
}
.Main .homeTab_block svg{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.Main .btn_selector{
    position: relative;
    cursor: pointer;
    width: 5rem;
    background: white;
    height: 2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    font-size: 0.875rem;
    color: black;
    user-select: none;
}
.Main .btn_selector:hover{
    opacity: .75;
}
.Main .homeTab_selector svg{
    width: 1.2rem;
    height: 1.5rem;
    box-sizing: inherit;
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
}
/*selector tab*/
.Main .TimeframePicker_aligner{
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5;
}
.Main .TimeframePicker_aligner:hover{
    opacity: 1;
}
.TimeframePicker_aligner .TimeframePicker_block {
    margin-top: 0.5rem;
    width: 12rem;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    background: #fff;
}
.TimeframePicker_aligner .TimeframePicker_block ul {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-align: left;
    color: #212529;
}
.TimeframePicker_aligner .TimeframePicker_block li {
    cursor: pointer;
    display: block;
    padding: 12px 0 12px 16px;
    background: #fff;
    font-weight: 600;
    font-size: .875rem;
    border-bottom: 1px solid #f1f3f5;
}
.TimeframePicker_block li:hover {
    background: #f8f9fa;
}
.TimeframePicker_block .focused {
    color: #12b886;
}
.Main .homeTab_right svg{
    cursor: pointer;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: gray;
    box-sizing: inherit;
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
}
/*menu tab*/
.HomeMoreButton_aligner{
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5;    
}
.HomeMoreButton_aligner .HomeMoreButton_block{
    border: 1px solid #dee2e6;
    margin-top: 0.5rem;
    width: 12rem;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    background: #fff;
    color: #212529;
}
.HomeMoreButton_block ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: left;
}
.HomeMoreButton_block li{
    cursor: pointer;
    font-weight: 600;
    font-size: .875rem;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #f1f3f5;
}
.HomeMoreButton_block li:hover{
    color: #12b886;
}
.HomeMoreButton_block .HomeMoreButton_contact{
    border-top: 1px solid #f1f3f5;
    padding: 1rem;
    text-align: left;
}
.HomeMoreButton_contact h5{
    margin: 0;
    font-size: .75rem;
}
.HomeMoreButton_email{
    color: #212529;
    font-size: .75rem;
}
.HomeMoreButton_graphCdn{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.HomeMoreButton_graphCdn img{
    cursor: pointer;
}
/*post cards*/
.Main .postCards{
    display: flex;
    margin: -1rem;
    margin-top: calc(32px - 1rem);
    padding-bottom: 16px;
    flex: 1 1;
    flex-wrap: wrap;
}

@media screen and (max-width: 1919px) {
    .Main .container{
        width: 1376px;
    }
}
@media screen and (max-width: 1440px) {
    .Main .container{
        width: 1024px;
    }
}
@media screen and (max-width: 1056px) {
    .Main .container{
        width: calc(100% - 32px);
    }
}
@media screen and (max-width: 1024px) {
    .Main .btn_selector{
        width: 4.25rem;
        font-size: .75rem;
    }
}
@media screen and (max-width: 944px) {
    .Main .homeTab_block{
        width: 10rem;
    }
    .Main .homeTab_block svg{
        font-size: 1.25rem;
    }
    .Main .homeTab_button{
        font-size: 1rem;
        width: 5rem;
    }
}
@media screen and (max-width: 767px) {
    .Main .container .postCards{
        margin: 0;
        margin-top: 32px;
    }
}