.PostItem{
    padding-top: 4rem;
    padding-bottom: 4rem;
    line-height: 1.5;
    border-top: 1px solid #F1F3F5;
}
.PostItem:first-child{
    padding-top: 0px;
    border-top: none;
}
/*user info*/
.PostItem .user_info{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.PostItem .user_info img{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: block;
    margin-right: 1rem;
    background: var(--bg-element2);
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
.PostItem .user_info .username{
    cursor: pointer;
    font-size: 0.875rem;
    color: #212529;
    font-weight: bold;
}
/* thumb nail image*/
.PostItem .image_section{
    padding-top: 52.356%;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}
.PostItem .image_section img{
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.PostItem .contents {
    cursor: pointer;
}
.PostItem .contents h2{
    font-size: 1.5rem;
    margin: 0px;
    color: #212529;
    word-break: keep-all;
}
.PostItem .contents p{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #495057;
    word-break: keep-all;
    overflow-wrap: break-word;
}
/*sub info*/
.PostItem .subinfo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    color: #868E96;
    font-size: 0.875rem;
}
.PostItem .subinfo .separator{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.PostItem .subinfo .likes{
    display: flex;
    align-items: center;
}
.PostItem .subinfo .likes svg{
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.25rem;
}

@media screen and (max-width: 768px) {
    .PostItem{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .PostItem .user_info{
        margin-bottom: 0.75rem;
    }      
    .PostItem .user_info img{
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }
    .PostItem h2{
        font-size: 1rem;
    }
    .PostItem p{
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
    }
    .PostItem .subinfo{
        font-size: 0.75rem;
    }
}